* {
    margin: 0;
}

.wrapper {
    width: 600px;
    background: #eee;
    margin: 0 auto;
}

.heading {
    height: 100px;
    background: darkred;
    padding: 20px;
    text-align: center;
    font-family: impact;
    font-size: 22pt;
    color: yellow;
    text-shadow: 0.1em 0.1em black;
}

p {
    margin-top: 5px;
    font-family: georgia;
    padding: 10px;
}

.title {
    font-family: serif;
    font-size: 18pt;
    background: black;
    color: white;
    padding: 10px;
    display: block;
}

.navigation {
    height: 60px;
    background: brown;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px;
}

.content {
    min-height: 400px;
    background: #ddd;
    width: 380px;
    padding: 10px;
}

.sidebar {
    width: 180px;
    background: lightblue;
    min-height: 400px;
    padding: 10px;
}

.footer {
    clear: both;
    background: black;
    height: 30px;
    color: white;
    text-align: center;
    padding: 10px;
}
.banner{
    width: 600px;
      height : 300px;
    background-position: center;
    opacity: 0.9;
}
.leftPic{
    width: 150px;
      height : 200px;
    background-position: left;
    opacity: 0.9;
}
.rightPic{
    width: 150px;
      height : 200px;
    background-position: right;
    opacity: 0.9;
}
.midPic{
    width: 150px;
      height : 200px;
    background-position: center;
    opacity: 0.9;

}

  html {
  background:url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjDi9qQ46TfAhXHyoMKHYRjBqwQjRx6BAgBEAU&url=https%3A%2F%2Fwww.videoblocks.com%2Fvideo%2Fflying-love-pink-hearts-on-a-pink-background-with-alpha-matte-valentines-day-4k-background-loopable-bxzx9xp_xiz1q0e8d&psig=AOvVaw1B_8wg_C-REOjRJAhtGBFU&ust=1545064279822289") no-repeat center fixed;
  background-size: cover;
}
.heading2 {
    height: 100px;
    background: darkblue;
    padding: 20px;
    text-align: center;
    font-family: arial;
    font-size: 22pt;
    color: green;
    text-shadow: 0.1em 0.1em black;
}
