* {
    margin: 0;
}

.wrapper {
    width: 600px;
    background: #eee;
    margin: 0 auto;
}

.heading {
    height: 100px;
    background: darkred;
    padding: 20px;
    text-align: center;
    font-family: impact;
    font-size: 22pt;
    color: yellow;
    text-shadow: 0.1em 0.1em black;
}

p {
    margin-top: 5px;
    font-family: georgia;
    padding: 10px;
}

.title {
    font-family: serif;
    font-size: 18pt;
    background: black;
    color: white;
    padding: 10px;
    display: block;
}

.navigation {
    height: 60px;
    background: brown;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px;
}

.content {
    min-height: 400px;
    background: #ddd;
    width: 380px;
    float: left;
    padding: 10px;
}

.sidebar {
    width: 180px;
    float: right;
    background: lightblue;
    min-height: 400px;
    padding: 10px;
}

.footer {
    clear: both;
    background: black;
    height: 30px;
    color: white;
    text-align: center;
    padding: 10px;
}
.banner{
    width: 600px;
      height : 300px;
    background-position: center;
    opacity: 0.9;
}
.leftPic{
    width: 150px;
      height : 200px;
    background-position: left;
    opacity: 0.9;
}
.rightPic{
    width: 150px;
      height : 200px;
    background-position: right;
    opacity: 0.9;
}
.midPic{
    width: 150px;
      height : 200px;
    background-position: center;
    opacity: 0.9;
}
  html {
  background:url("https://www.eyes-down.net/workspace/uploads/images/services-images/ed-charity-graphic-white_1.gif") no-repeat center fixed;
  background-size: cover;
}
