* {
    margin: 0;
}

.wrapper {
    width: 1000px;
    background: #eee;
    margin: 0 auto;
}

.heading {
    height: 100px;
    background:url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/VfkBGrouxijpvojvz/flying-love-pink-hearts-on-a-pink-background-with-alpha-matte-valentines-day-4k-background-loopable_skj2dxtoe_thumbnail-full01.png") center fixed;
    padding: 20px;
    text-align: center;
    font-family: impact;
    font-size: 22pt;
    color: pink;
    text-shadow: 0.1em 0.1em black;
}

p {
    margin-top: 5px;
    font-family: georgia;
    padding: 10px;
}

.title {
    font-family: serif;
    font-size: 18pt;
    background: black;
    color: white;
    padding: 10px;
    display: block;
}

.navigation {
    min-height: 250px;
    background: brown;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px;
}
.deadassSidebar {
    width: 180px;
    float: right;
    background: lightblue;
    min-height: 180px;
    padding: 10px;
}
.deadassSidebar2 {
    width: 180px;
    float: right;
    background: lightblue;
    min-height: 180px;
    padding: 10px;
}



.content {
    min-height: 590px;
    background: #ddd;
    float :left;
    width: 580px;
    padding: 10px;
}

.sidebar {
    width: 980px;
    background: lightblue;
    min-height: 200px;
    padding: 10px;
}
.footer {
    clear: both;
    background: black;
    height: 30px;
    color: white;
    text-align: center;
    padding: 10px;
}
.banner{
  width: 1000px;
    height : 500px;
    background-position: bot;
    opacity: 0.9;
}
.topLeftPic{
      width: 327px;
      height : 300px;
    background-position: left;
    opacity: 0.9;
}
.midLeftPic{
      width: 327px;
      height : 300px;
    background-position: left;
    opacity: 0.9;
}
.bottomLeftPic{
      width: 327px;
      height : 300px;
    background-position: left;
    opacity: 0.9;
}
.topRightPic{
      width: 327px;
      height : 300px;
    background-position: right;
    opacity: 0.9;
}
.midRightPic{
      width: 327px;
      height : 300px;
    background-position: right;
    opacity: 0.9;
}
.bottomRightPic{
      width: 327px;
      height : 300px;
    background-position: right;
    opacity: 0.9;
}
.topMidPic{
      width: 327px;
      height : 300px;
    background-position: center;
    opacity: 0.9;

}
.midMidPic{
      width: 327px;
      height : 300px;
    background-position: center;
    opacity: 0.9;

}
.bottomMidPic{
      width: 327px;
      height : 300px;
    background-position: center;
    opacity: 0.9;

}

  html {
  background:url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/VfkBGrouxijpvojvz/flying-love-pink-hearts-on-a-pink-background-with-alpha-matte-valentines-day-4k-background-loopable_skj2dxtoe_thumbnail-full01.png")  center fixed;
  background-size: cover;
}
.heading2 {
    height: 100px;
    background: darkblue;
    padding: 20px;
    text-align: center;
    font-family: arial;
    font-size: 22pt;
    color: green;
    text-shadow: 0.1em 0.1em black;
}
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #ec0ee6;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #ff66cc;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
